<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center mt-3">
        <h1>Il Gabbiano</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center mt-3">
        <div class="card" style="width: 80%;">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/beach1.jpeg" class="d-block w-100" alt="..." style="max-height: 35rem;">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/beach2.jpeg" class="d-block w-100" alt="..." style="max-height: 35rem;">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/beach3.jpeg" class="d-block w-100" alt="..." style="max-height: 35rem;">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center p-4 m-3">
        <p class="fs-2 lh-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod velit elit, et dapibus est convallis eget. Nunc sed dui quis sem ornare fermentum. Vivamus id erat urna. Etiam a eros nisl. Quisque volutpat pretium ornare. Cras sit amet orci mi. Phasellus tempus, ligula quis porta ultrices, ex risus sodales neque, non tristique elit felis ac sem. Vivamus fringilla molestie eros, vitae tincidunt magna congue et. Pellentesque lobortis porttitor lorem quis egestas. Aliquam tempor risus ut quam scelerisque, in interdum est placerat.

          Aliquam tempor sed urna eget iaculis. Aenean a magna nec arcu gravida efficitur. Quisque sed dolor tempor leo luctus fringilla efficitur vel magna. Nunc quis sapien leo. Curabitur interdum nunc tortor, eu sollicitudin tortor convallis non. Donec quis ultricies urna. Pellentesque vel hendrerit arcu. Duis ante quam, pharetra id mauris id, aliquam elementum risus.

          Aliquam bibendum fringilla felis. In viverra tortor nec libero malesuada, id varius odio vestibulum. Fusce vel risus tellus. Vestibulum semper egestas elit nec blandit. Curabitur justo nunc, convallis id commodo quis, luctus ac magna. Quisque porttitor velit et ex rhoncus, quis pharetra justo tempus. Vivamus cursus enim a rhoncus commodo. Etiam non efficitur velit, vel imperdiet augue. Donec quis ornare mi. Ut facilisis justo sit amet nulla venenatis, sed pulvinar nulla dapibus. Mauris vel nibh nisi. Suspendisse eu finibus metus. Pellentesque nec volutpat odio. Donec ullamcorper aliquet euismod. Suspendisse suscipit molestie augue ac ultricies.</p>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-primary mb-4" routerLink="/login">Book</button>
    </div>
  </div>
</div>
